# Arquivos e pastas do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
env/
ENV/
.venv/
.ENV/

# Arquivos de log e temporários
*.log
*.tmp
*.swp
*.bak
*.old

# PDF gerado (opcional, se você não quiser versionar o PDF)
*.pdf

# Configurações de IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
