# -------------------------
# Arquivos e pastas do Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
env/
ENV/
.venv/
.ENV/

# Arquivos de log e temporários
*.log
*.tmp
*.swp
*.bak
*.old

# -------------------------
# Arquivos temporários do LaTeX
# -------------------------
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# -------------------------
# Arquivos gerados pelo LaTeX
# -------------------------

source/latex/escala/*.tex
source/latex/main.tex

# Arquivos de saída (PDF, DVI, etc.)
*.pdf
*.dvi
*.ps
*.xdv

# Diretórios temporários LaTeX
_build/
build/
output/
latex.out/

# -------------------------
# Configurações de IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Arquivos do sistema operacional
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Arquivos e pastas do Django
# -------------------------
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py
.env
.env.*
*.pot
*.mo
celerybeat-schedule
celerybeat.pid
*.log